### Cargando la data **CSV** del entorno de ejecución local

In [ ]:
import chardet
import pandas as pd

with open('SIRNPD_2021_agosto.csv', 'rb') as f:
    enc = chardet.detect(f.read())  # or readline if the file is large
    
data = pd.read_csv('SIRNPD_2021_agosto.csv', encoding = enc['encoding'])
data.shape

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (38,39,43,44) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

(332193, 66)

In [ ]:
data.head()

,[Canal tramite],[PaisNacimiento],[NacDepartamento],[NacProvincia],[NacDistrito],[Fecha inscripcion],[Año inscripcion],[Resolución de inscripcion],[Mes inscripcion],[CCDD_ins],...,[dley_mental],[dley_intelectual],[Dg_SDOWN],[Dg_TEA],[Dg_Esquizofrenia],[Dg_RetrazoM],[Dg_ParalisisC],[Dg_Talla_baja],[Estado Registro],[Edad inscripcion]
0,1,PERÚ,PIURA,HUANCABAMBA,HUANCABAMBA,2000-08-10,2000,2,8,7,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0,36
1,1,PERÚ,LIMA,LIMA,RÍMAC,2000-03-06,2000,9,3,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,63
2,1,PERÚ,CUSCO,CANCHIS,SICUANI,2000-12-18,2000,11,12,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,45
3,1,PERÚ,LIMA,LIMA,LA VICTORIA,2000-03-16,2000,50,3,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,18
4,1,PERÚ,LIMA,LIMA,MIRAFLORES,2001-01-01,2001,1,1,15,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,1,60

### Cargando la data de **Google Drive**

In [1]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [7]:
import chardet
import pandas as pd

url = "/content/drive/My Drive/Colab Notebooks/PCD/data/"
name = "SIRNPD_2021_agosto.csv"
path = url + name

with open(path, 'rb') as f:
    enc = chardet.detect(f.read())  # or readline if the file is large

data = pd.read_csv(path, encoding = enc['encoding'])
data.shape

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (38,39,43,44) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

(332193, 66)

In [8]:
data.head()

,[Canal tramite],[PaisNacimiento],[NacDepartamento],[NacProvincia],[NacDistrito],[Fecha inscripcion],[Año inscripcion],[Resolución de inscripcion],[Mes inscripcion],[CCDD_ins],...,[dley_mental],[dley_intelectual],[Dg_SDOWN],[Dg_TEA],[Dg_Esquizofrenia],[Dg_RetrazoM],[Dg_ParalisisC],[Dg_Talla_baja],[Estado Registro],[Edad inscripcion]
0,1,PERÚ,PIURA,HUANCABAMBA,HUANCABAMBA,2000-08-10,2000,2,8,7,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0,36
1,1,PERÚ,LIMA,LIMA,RÍMAC,2000-03-06,2000,9,3,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,63
2,1,PERÚ,CUSCO,CANCHIS,SICUANI,2000-12-18,2000,11,12,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,45
3,1,PERÚ,LIMA,LIMA,LA VICTORIA,2000-03-16,2000,50,3,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,18
4,1,PERÚ,LIMA,LIMA,MIRAFLORES,2001-01-01,2001,1,1,15,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,1,60

In [9]:
data.columns

Index(['[Canal tramite]', '[PaisNacimiento]', '[NacDepartamento]',
       '[NacProvincia]', '[NacDistrito]', '[Fecha inscripcion]',
       '[Año inscripcion]', '[Resolución de inscripcion]', '[Mes inscripcion]',
       '[CCDD_ins]', '[CCPP_ins]', '[CCDI_ins]', '[DomDepartamentoIns]',
       '[DomProvinciaIns]', '[DomDistritoIns]', '[GrupoEdad inscripcion]',
       '[LimGravedad inscripcion]', '[GrupoEdad actual]', '[Edad]', '[Genero]',
       '[EstadoCivil]', '[EducaNivelResum actualizacion]', '[CCDD]', '[CCPP]',
       '[CCDI]', '[LimConducta]', '[LimComunicacion]', '[LimCuidado]',
       '[LimLocomocion]', '[LimCorporal]', '[LimDestreza]', '[LimSituacion]',
       '[LimNumero]', '[LimGravedad]', '[DIAG_D_1]', '[DIAG_D_2]',
       '[DIAG_D_3]', '[DIAG_D_4]', '[DIAG_D_5]', '[DIAG_D_6]', '[DIAG_E_1]',
       '[DIAG_E_2]', '[DIAG_E_3]', '[DIAG_E_4]', '[DIAG_E_5]', '[DIAG_E_6]',
       '[def_intelectual]', '[def_psicologica]', '[def_lenguaje]',
       '[def_audicion]', '[def_vision]', '[def_viscerales]', '[def_musculo]',
       '[def_generalizadas]', '[dley_fisica]', '[dley_sensorial]',
       '[dley_mental]', '[dley_intelectual]', '[Dg_SDOWN]', '[Dg_TEA]',
       '[Dg_Esquizofrenia]', '[Dg_RetrazoM]', '[Dg_ParalisisC]',
       '[Dg_Talla_baja]', '[Estado Registro]', '[Edad inscripcion]'],
      dtype='object')

In [15]:
data[['[Canal tramite]', '[NacDepartamento]', '[NacProvincia]',  
       '[Año inscripcion]', 
       '[GrupoEdad actual]', '[Edad]', '[Genero]',
       '[EducaNivelResum actualizacion]', '[def_intelectual]', '[def_psicologica]', '[def_generalizadas]', 
       '[Estado Registro]', '[Edad inscripcion]']]

,[Canal tramite],[NacDepartamento],[NacProvincia],[Año inscripcion],[GrupoEdad actual],[Edad],[Genero],[EducaNivelResum actualizacion],[def_intelectual],[def_psicologica],[def_generalizadas],[Estado Registro],[Edad inscripcion]
0,1,PIURA,HUANCABAMBA,2000,45-59,57,M,6,0.0,0.0,1.0,0,36
1,1,LIMA,LIMA,2000,60 a más años,84,M,6,NaN,NaN,NaN,1,63
2,1,CUSCO,CANCHIS,2000,60 a más años,66,M,6,NaN,NaN,NaN,1,45
3,1,LIMA,LIMA,2000,30-44,39,M,0,NaN,NaN,NaN,0,18
4,1,LIMA,LIMA,2001,60 a más años,80,F,2,0.0,0.0,0.0,1,60
...,...,...,...,...,...,...,...,...,...,...,...,...,...
332188,7,PIURA,AYABACA,2021,60 a más años,70,M,2,0.0,0.0,1.0,1,70
332189,33,AYACUCHO,LA MAR,2021,60 a más años,62,M,3,0.0,0.0,0.0,1,62
332190,33,AYACUCHO,HUANTA,2021,18-29,24,M,3,1.0,0.0,1.0,1,24
332191,33,APURÍMAC,ANDAHUAYLAS,2021,60 a más años,90,F,0,0.0,0.0,1.0,1,90
332192,33,AYACUCHO,HUAMANGA,2021,6-11,7,M,0,1.0,0.0,0.0,1,7